<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<nav th:replace="navbar :: navigation"></nav>
    <div class="container">
        <div class="card mt-4 mb-3 border-dark">
            <div th:replace="/user/user-details-header :: user-details-header(email = ${form.email})"></div>
            <div class="card-body">
                <h5 class="card-header">Uppdatera:</h5>
                <form class="mt-3" th:object="${form}" method="post" th:action="@{/users/{email}(action = 'update', email = ${form.email})}">
                    <input type="hidden" th:field="*{appUserId}" th:value="${form.appUserId}">
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Email:</span>
                                </div>
                                <input class="form-control" type="email" id="email" placeholder="Ange en giltig emailaddress" th:field="*{email}"/>
                            </div>
                            <div th:if="${#fields.hasErrors('email')}">
                                <ul class="p-0">
                                    <li  th:each="err : ${#fields.errors('email')}">
                                        <span class="form-error" th:text="${err}"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Förnamn:</span>
                                </div>
                                <input type="text" id="firstName" th:field="*{firstName}" placeholder="Ange ditt förnamn" class="form-control" />
                            </div>
                            <div th:if="${#fields.hasErrors('firstName')}">
                                <ul class="p-0" >
                                    <li  th:each="err : ${#fields.errors('firstName')}">
                                        <span class="form-error" th:text="${err}"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Efternamn:</span>
                                </div>
                                <input type="text" id="lastName" th:field="*{lastName}" placeholder="Ange ditt efternamn" class="form-control" />
                            </div>
                            <div th:if="${#fields.hasErrors('lastName')}">
                                <ul class="p-0" >
                                    <li  th:each="err : ${#fields.errors('lastName')}">
                                        <span class="form-error" th:text="${err}"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h5 class="card-header">Adress:</h5>
                    <div class="form-row mt-3">
                        <div class="col-md-12 mb-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Gatuadress:</span>
                                </div>
                                <input type="text" id="street" th:field="*{street}" placeholder="Ange din gatuaddress" class="form-control"  />
                            </div>
                            <div th:if="${#fields.hasErrors('street')}">
                                <ul class="p-0" >
                                    <li  th:each="err : ${#fields.errors('street')}">
                                        <span class="form-error" th:text="${err}"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Postnr:</span>
                                </div>
                                <input type="text" id="zip-code" th:field="*{zipCode}" placeholder="Ange ditt postnummer" class="form-control"/>
                            </div>
                            <div th:if="${#fields.hasErrors('zipCode')}">
                                <ul class="p-0" >
                                    <li  th:each="err : ${#fields.errors('zipCode')}">
                                        <span class="form-error" th:text="${err}"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Stad:</span>
                                </div>
                                <input type="text" id="city" th:field="*{city}" placeholder="Ange din bostadsort" class="form-control"/>
                            </div>
                            <div th:if="${#fields.hasErrors('city')}">
                                <ul class="p-0" >
                                    <li  th:each="err : ${#fields.errors('city')}">
                                        <span class="form-error" th:text="${err}"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h5 class="card-header">Telefonnummer:</h5>
                    <div class="form-row mt-3">
                        <div class="col-md-6 mb-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Mobil:</span>
                                </div>
                                <input type="text" id="mobile-number" th:field="*{mobileNumber}" placeholder="Ange ditt mobilnummer" class="form-control"/>
                            </div>
                            <div th:if="${#fields.hasErrors('mobileNumber')}">
                                <ul class="p-0" >
                                    <li  th:each="err : ${#fields.errors('mobileNumber')}">
                                        <span class="form-error" th:text="${err}"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Hem:</span>
                                </div>
                                <input type="text" id="home-number"  th:field="*{homeNumber}" placeholder="Ange ditt hemtelefonnummer" class="form-control" />
                            </div>
                            <div th:if="${#fields.hasErrors('homeNumber')}">
                                <ul class="p-0" >
                                    <li  th:each="err : ${#fields.errors('homeNumber')}">
                                        <span class="form-error" th:text="${err}"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h5 class="card-header">Övrigt:</h5>
                    <div class="form-row mt-3">
                        <div class="col-md-12 mb-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">GitHub:</span>
                                </div>
                                <input class="form-control" type="url" id="github" placeholder="Ange länk till GitHub konto" th:field="*{gitHubLink}"/>
                            </div>
                            <div th:if="${#fields.hasErrors('gitHubLink')}">
                                <ul class="p-0">
                                    <li  th:each="err : ${#fields.errors('gitHubLink')}">
                                        <span class="form-error" th:text="${err}"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">LinkedIn:</span>
                                </div>
                                <input class="form-control" type="url" id="linkedIn" placeholder="Ange länk till LinkedIn profil" th:field="*{linkedInUrl}"/>
                            </div>
                            <div th:if="${#fields.hasErrors('linkedInUrl')}">
                                <ul class="p-0">
                                    <li  th:each="err : ${#fields.errors('linkedInUrl')}">
                                        <span class="form-error" th:text="${err}"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button type="submit" class="btn btn-primary">Skicka</button>
                        <button type="reset" class="btn btn-danger">Återställ</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

</body>
</html>