<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
    <title>User Details</title>
</head>
<body>
<nav th:replace="navbar :: navigation"></nav>
    <div class="container">
        <div class="card mt-4 mb-3 border-dark">
            <div th:replace="/user/user-details-header.html :: user-details-header(email = ${user.email})"></div>
            <div class="card-body">
                <h5 class="card-header">Användar profil:</h5>
                    <div class="d-md-flex col-md-12 flex-column mt-2 mb-2">
                        <div  th:if="${user.profileImage != null}" class="frame mb-2">
                            <img th:src="@{'/image/'+${user.profileImage.id}}">
                        </div>
                        <div th:if="${user.profileImage == null}" class="frame mb-2">
                            <a class="nav-link" th:href="@{/users/{email}(email = ${email}, action = 'upload')}">Ladda upp bild</a>
                        </div>
                        <div class="d-md-flex flex-row">
                            <div class="col-md-2 bg-light shadow-sm" >
                                <span>Email:</span>
                            </div>
                            <div class="col-md-10 border border-light shadow-sm">
                                <span th:text="${user.email}"></span>
                            </div>
                        </div>
                        <div class="d-md-flex flex-row">
                            <div class="col-md-2 bg-light shadow-sm" >
                                <span>Förnamn:</span>
                            </div>
                            <div class="col-md-4 border border-light shadow-sm">
                                <span th:text="${user.firstName}"></span>
                            </div>
                            <div class="col-md-2 bg-light shadow-sm" >
                                <span>Efternamn:</span>
                            </div>
                            <div class="col-md-4 border border-light shadow-sm">
                                <span th:text="${user.lastName}"></span>
                            </div>
                        </div>
                    </div>
                <h5 class="card-header">Adress:</h5>
                    <div class="d-md-flex col-md-12 flex-column mt-2 mb-2">
                        <div class="d-md-flex flex-row">
                            <div class="col-md-2 bg-light shadow-sm">
                                <span>Gatuadress:</span>
                            </div>
                            <div class="col-md-10 border border-light shadow-sm">
                                <span th:text="${user.contactInformation.street}"></span>
                            </div>
                        </div>
                        <div class="d-md-flex flex-row">
                            <div class="col-md-2 bg-light shadow-sm">
                                <span>Postnummer:</span>
                            </div>
                            <div class="col-md-4 border border-light shadow-sm">
                                <span th:text="${user.contactInformation.zipCode}"></span>
                            </div>
                            <div class="col-md-2 bg-light shadow-sm">
                                <span>Stad:</span>
                            </div>
                            <div class="col-md-4 border border-light shadow-sm">
                                <span th:text="${user.contactInformation.city}"></span>
                            </div>
                        </div>
                    </div>
                <h5 class="card-header">Telefon:</h5>
                    <div class="d-md-flex col-md-12 flex-column mt-2 mb-2">
                        <div class="d-md-flex flex-row">
                            <div class="col-md-2 bg-light shadow-sm">
                                <span>Hemtelefon:</span>
                            </div>
                            <div class="col-md-4 border border-light shadow-sm">
                                <span th:text="${user.contactInformation.homeNumber}"></span>
                            </div>
                            <div class="col-md-2 bg-light shadow-sm">
                                <span>Mobiltelefon:</span>
                            </div>
                            <div class="col-md-4 border border-light shadow-sm">
                                <span th:text="${user.contactInformation.mobileNumber}"></span>
                            </div>
                        </div>
                    </div>
                <h5 class="card-header">Övrigt:</h5>
                <div class="d-md-flex col-md-12 flex-column mt-2 mb-2">
                    <div class="d-md-flex flex-row justify-content-center">
                        <div class="col-md-2 flex-row bg-light shadow-sm">
                            <span>GitHub:</span>
                        </div>
                        <div class="col-md-4 flex-row border border-light shadow-sm">
                            <div th:if="${user.contactInformation.gitHubLink eq 'Ej angivet'}">
                                <span th:text="${user.contactInformation.gitHubLink}"></span>
                            </div>
                            <div th:unless="${user.contactInformation.gitHubLink eq 'Ej angivet'}">
                                <a th:href="@{${user.contactInformation.gitHubLink}}" target="_blank">Github</a>
                            </div>
                        </div>
                        <div class="col-md-2 flex-row bg-light shadow-sm">
                            <span class="align-content-center">LinkedIn:</span>
                        </div>
                        <div class="col-md-4 flex-row border border-light shadow-sm">
                            <div th:if="${user.contactInformation.linkedInURL eq 'Ej angivet'}">
                                <span th:text="${user.contactInformation.linkedInURL}"></span>
                            </div>
                            <div th:unless="${user.contactInformation.linkedInURL eq 'Ej angivet'}">
                                <a th:href="@{${user.contactInformation.linkedInURL}}" target="_blank">LinkedIn</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>